*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fondo4.jpg);
    height: 1000px; 
  background-position: center;
}

.formulario{
    width: 600px;
    background: #b41e1ecb;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family:'calibri' ;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formulario h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.cajas{
    width: 100% ;
    background: #381313 ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid #c51f51;
    font-family: 'calibri' ;
    font-size: 18px;
    color: white;
}

.formulario .boton{
    width: 100%;
    background:  #381313;
    border: none;
    padding: 12px;
    margin: 16px 0;
    color: white;
    font-size: 16px;
}

.formulario .boton:hover{
    width: 100%;
    background: #789ff3;
    border: none;
    padding: 12px;
    margin: 16px 0;
    color: rgb(19, 19, 19);
    font-size: 16px;
    
}